@import "src/app/styles/reset";
@import "src/app/styles/variables/global";
@import "src/app/styles/themes/dark";
@import "src/app/styles/themes/normal";

.app {
  font: var(--font-m);
  color: var(--primary-color);

  background-color: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  padding: 20px;
  flex-grow: 1;
}